html, body, button, input {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

a {
  &:link, &:visited, &:hover, &:active {
    text-decoration: none;
    color: black;
  }
}

.flex {
  display: flex;

  &_row {
    flex-direction: row;
  }

  &_column {
    flex-direction: column;
  }

  &_wrap {
    flex-wrap: wrap;
  }

  &_between {
    justify-content: space-between;
  }

  &_aic {
    align-items: center;
  }
}

.block {
  display: block;
}

.rounded {
  border-radius: 20px;
}

.responsive {
  width: 100%;
  height: auto;
}

.container {
  max-width: 1315px;
  margin: 0 auto;
  padding: 0 15px;
  height: inherit;
}

.input {
  padding: 12px 22px;
  border: 0;
  outline: none;
  background-color: #1A1A1A;
  color: #FFD482;
  font-family: 'Roboto Slab', serif;
}

.button {
  border: 0;
  padding: 18px 25px;
  border-radius: 20px;
  cursor: pointer;
  outline: none;
  font-family: 'Roboto Slab', serif;
}