@include fontFace('Roboto Slab', '../fonts/RobotoSlab-Regular', 'normal', 400);
@include fontFace('Roboto Slab', '../fonts/RobotoSlab-Bold', 'normal', 700);

html,
body {
  font-family: 'Roboto Slab', serif;
}

.header {
  height: 110px;
  background-color: #fbce2a;
  @include respond-between(phone, tablet) {
    position: fixed;
    z-index: 999;
    width: 100%;
  }

  &__container {
    align-items: center;

    @include respond-between(phone, tablet) {
      flex-wrap: wrap;
      padding-top: 20px;
      padding-bottom: 15px;
    }
  }

  &__logo {
    font-size: 2.25rem;
    @include respond-between(phone, tablet) {
      font-size: 1.125rem;
      order: 1;
      flex: 1 1 50%;
    }
  }

  &__search {
    position: relative;
    @include respond-between(phone, tablet) {
      order: 2;
      flex: 1 0 100%;
      align-self: flex-end;
    }
  }

  &__ticketon {
    @include respond-between(phone, tablet) {
      order: 1;
      flex: 1 1 50%;
      text-align: right;
    }
  }

  &__ticketon-logo {
    width: 200px;
    height: 60px;
    @include respond-between(phone, tablet) {
      width: 80px;
      height: 25px;
    }
  }

  &__input {
    width: 660px;
    height: 60px;
    padding: 12px 70px 12px 22px;
    font-size: 1.5rem;

    @include respond-between(phone, tablet) {
      width: 100%;
      height: 40px;
      padding: 0 20px;
      font-size: 1rem;
    }
  }

  &__input-wrapper {
    position: relative;
  }

  &__input-button {
    position: absolute;
    right: 15px;
    top: 0;
    bottom: 0;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    outline: none;
  }

  &__input-img {
    @include respond-between(phone, tablet) {
      width: 25px;
      height: 25px;
    }
  }
}

.schedule {
  margin-top: 125px;
  @include respond-between(phone, tablet) {
    margin-top: 0;
    padding-top: 150px;
  }

  &__title {
    font-size: 3rem;
    margin-bottom: 20px;
    margin-left: 15px;
    @include respond-between(phone, tablet) {
      font-size: 1.5rem;
      margin-left: 0;
    }
  }

  &__tabs {
    height: 100%;
    padding-left: 45px;
    margin-bottom: 40px;
    @include respond-between(phone, tablet) {
      padding-left: 15px;
    }
  }

  &__tab {
    margin-right: 32px;
    @include respond-between(phone, tablet) {
      margin-right: 16px;
      flex: 1 1 auto;
    }
  }

  &__link {
    width: 245px;
    border: 1px solid black;
    text-align: center;
    padding: 14px 0;
    color: black;
    text-decoration: none;
    font-size: 1.5rem;
    @include respond-between(phone, tablet) {
      width: auto;
    }

    &_active {
      background-color: #fbce2a;
      border: 1px solid transparent;
      box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
    }
  }

  &__items {
    margin-bottom: 10px;
  }

  &__item {
    padding: 0 15px;
    flex: 0 0 25%;
    margin-bottom: 30px;
    @include respond-between(phone, tablet) {
      flex: 1 1 auto;
    }
  }
}

.item {
  &__box {
    background-color: white;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3);
  }

  &__image-wrapper {
    position: relative;
    z-index: 0;
  }

  &__date {
    position: absolute;
    background-color: #fbce2a;
    padding: 5px 18px;
    font-size: 1.5rem;
    top: 20px;
    right: 25px;
  }

  &__description-wrapper {
    background-color: white;
    padding: 20px 25px;
    margin-top: -35px;
    position: relative;
    z-index: 1;
  }

  &__title-wrapper {
    margin-bottom: 10px;
  }

  &__title {
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.75rem;
  }

  &__button {
    cursor: pointer;
  }

  &__text {
    font-size: 1rem;
  }

  &__paragraph {
    margin-bottom: 5px;

    &:last-child {
      margin-bottom: 15px;
    }
  }

  &__price-item {
    border-bottom: 2px solid #ffd482;
    padding-bottom: 5px;

    &:not(:last-child) {
      margin-bottom: 6px;
    }
  }

  &__link {
    margin-top: 30px;
    padding: 10px 0;
    text-align: center;
    font-size: 1.125rem;
    font-weight: 600;
  }
}
