.movie {
  &__img {
    height: 465px;
    object-fit: cover;
  }

  &__content {
    margin-top: -285px;
    margin-bottom: 140px;
    @include respond-between(phone, tablet) {
      flex-wrap: wrap;
      margin-top: 0;
      padding-top: $header-height;
      margin-bottom: 0;
    }
  }

  &__bg {
    @include respond-between(phone, tablet) {
      display: none;
    }
  }

  &__mobile-wrapper {
    @include respond-between(phone, tablet) {
      padding: 25px 15px 40px 15px;
    }
  }

  &__trailer-wrapper {
    position: relative;
  }

  &__trailer-button {
    position: absolute;
    width: 520px;
    top: 15px;
    right: 15px;
    background-color: rgba(0, 0, 0, 0.8);
    color: #FFD482;
    text-align: right;
    font-size: 1.5rem;
    @include respond-between(phone, tablet) {
      width: calc(100% - 30px);
      font-size: 1.125rem;
      top: initial;
      right: 0;
      left: 15px;
      bottom: 40px;
    }

    &::before {
      content: "";
      background-image: url("/dist/images/trailer-button.svg");
      background-repeat: no-repeat;
      width: 40px;
      height: 40px;
      display: block;
      position: absolute;
      left: 25px;
      top: 50%;
      transform: translateY(-50%);
      @include respond-between(phone, tablet) {
        width: 30px;
        height: 30px;
      }
    }
  }

  &__trailer-img {
    border-radius: 6px;
  }

  &__left-column {
    width: 585px;
    @include respond-between(phone, tablet) {
      margin: 0 -15px;
      width: auto;
      flex: 1 1 auto;
    }
  }

  &__right-column {
    width: 600px;
    position: relative;
    @include respond-between(phone, tablet) {
      width: auto;
      margin: 0 -15px;
      background-color: white;
      border-radius: 20px;
      margin-top: -20px;
      box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3);
      flex: 1 1 auto;
    }
  }

  &__title {
    font-size: 4rem;
    line-height: 5.25rem;
    font-weight: 600;
    margin-bottom: 20px;

    @include respond-between(phone, tablet) {
      font-size: 1.5rem;
      line-height: 2rem;
      margin-bottom: 10px;
    }
  }

  &__info {
    font-size: 2.25rem;
    margin-bottom: 40px;

    @include respond-between(phone, tablet) {
      font-size: 1.125rem;
    }
  }

  &__paragraph {
    &:not(:last-child) {
      margin-bottom: 15px;

      @include respond-between(phone, tablet) {
        margin-bottom: 8px;
      }
    }
  }

  &__button {
    background-color: #FBCE2A;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
    font-size: 1.5rem;
    font-weight: 600;
    position: relative;
    padding-left: 75px;

    @include respond-between(phone, tablet) {
      width: 100%;
    }

    &::before {
      content: "";
      background-image: url("/dist/images/get-ticket.svg");
      background-repeat: no-repeat;
      width: 35px;
      height: 35px;
      display: block;
      position: absolute;
      left: 25px;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &__description {
    padding-bottom: 100px;
    font-size: 1.5rem;
    line-height: 2rem;

    @include respond-between(phone, tablet) {
      font-size: 1.125rem;
      display: none;
    }
  }

  &__mobile-description {
    display: none;

    @include respond-between(phone, tablet) {
      display: block;
    }
  }

  &__price-wrapper {
    padding: 20px 30px 0 30px;
  }
}