.search{
  &__title {
    font-size: 2.25rem;
    margin-bottom: 50px;

    @include respond-between(phone, tablet) {
      font-size: 1.5rem;
    }
  }
}

.not-found {
  text-align: center;
  margin-top: 200px;
  @include respond-between(phone, tablet) {
    margin-top: 0;
    padding-top: 200px;
  }

  &__image {
    margin-bottom: 30px;
  }

  &__text {
    font-size: 1.5rem;
  }
}