<header class="header">
  <div class="header__container container flex flex_row flex_between">
    <div class="header__logo"><a href="/" class="logo-link">Beeline</a></div>
    <div class="header__search">
      <div class="header__input-wrapper">
        <input type="text" name="search" class="header__input input rounded" />
        <button class="header__input-button">
          <img src="/dist/images/search.svg" alt="" class="header__input-img" />
        </button>
      </div>
    </div>
    <div class="header__ticketon">
      <img
        src="/dist/images/ticketon.png"
        alt=""
        class="header__ticketon-logo"
      />
    </div>
  </div>
</header>
