<head>
  <meta charset="utf-8" />
  <meta
    name="viewport"
    content="width=device-width,initial-scale=1.0,user-scalable=no"
  />
  <title>Главная | Beeline Pay</title>
  <link rel="stylesheet" href="/dist/css/app.css" />
  <!-- <link rel="icon" href="../images/icon.png" type="image/x-icon" />
    <link rel="shortcut icon" href="../images/icon.png" type="image/x-icon" /> -->
</head>
