<p class="movie__paragraph">
  2001: A Space Odyssey is a 1968 epic science fiction film produced and
  directed by Stanley Kubrick. The screenplay was written by Kubrick and Arthur
  C. Clarke, and was inspired by Clarke's short story "The Sentinel". A novel
  also called 2001: A Space Odyssey, written concurrently with the screenplay,
  was published soon after the film was released. The film, which follows a
  voyage to Jupiter with the sentient computer HAL after the discovery of a
  mysterious black monolith affecting human evolution, deals with themes of
  existentialism, human evolution, technology, artificial intelligence, and the
  possibility of extraterrestrial life. The film is noted for its scientifically
  accurate depiction of spaceflight, pioneering special effects, and ambiguous
  imagery. Sound and dialogue are used sparingly and often in place of
  traditional cinematic and narrative techniques. The soundtrack incorporates a
  number of pieces of classical music, among them Also sprach Zarathustra by
  Richard Strauss, The Blue Danube by Johann Strauss II, and works by Aram
  Khachaturian and György Ligeti.
</p>
<p class="movie__paragraph">
  2001: A Space Odyssey is a 1968 epic science fiction film produced and
  directed.
</p>
