<div class="schedule__item item flex flex_column">
  <div class="item__box rounded">
    <div class="item__image-wrapper">
      <img
        src="/dist/images/item-image.jpg"
        alt=""
        class="item__image rounded responsive"
      />
      <div class="item__date rounded">18:20</div>
    </div>
    <div class="item__description-wrapper rounded">
      <div class="item__title-wrapper flex flex_between">
        <h2 class="item__title">@@title</h2>
        <img src="/dist/images/item-button.svg" alt="" class="item__button" />
      </div>
      <div class="item__text">
        <p class="item__paragraph">Длительность: 3 ч. 20 мин.</p>
        <p class="item__paragraph">
          Жанр: триллер, фантастика, боевик
        </p>
      </div>
      <div class="item__price-wrapper">
        <div class="item__price-item flex flex_between">
          <div class="item__price-label">
            Взрослый
          </div>
          <div class="item__price-value">
            1200 тг
          </div>
        </div>
        <div class="item__price-item flex flex_between">
          <div class="item__price-label">
            Студент.
          </div>
          <div class="item__price-value">
            1000 тг
          </div>
        </div>
        <div class="item__price-item flex flex_between">
          <div class="item__price-label">
            Детский
          </div>
          <div class="item__price-value">
            800 тг
          </div>
        </div>
      </div>
      <a href="#" class="item__link block">Подробнее</a>
    </div>
  </div>
</div>
